@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <p id="text">Data </p>
        <h2>Forms</h2>
        <ul >
            <li>Sample data</li>
        </ul>
    </div>
    <button type="button" id="btnGetData">GetData</button>
</div>


<script>
    $(document).ready(function () {

        function callBackMe(data) {
            alert("Called");
        };

        $('#btnGetData').click(function () {
            $.ajax({
                type: "GET",
                url: "http://localhost:39932/api/forms",
                success: function (data) {
                    $('#text').text(JSON.stringify(data));
                },
                dataType: 'jsonp'
            });  
        })
    });

</script>